APP_NAME=ApplyPilot API
APP_VERSION=1.0.0

MONGODB_URI=
DATABASE_NAME=

JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FRONTEND_URL=http://localhost:3000